<html>
<head>
<title> Collaborate </title>
<%- include req %>
</head>

<body>
<div class="container">
	<form method="post" action="/editor">
	<center>
		<input id="user" name="user" type="text" maxlength="20" size="25" autocomplete="off" autofocus />
		<input type="submit" style="display: none" />
	</center>
	</form>
</div>
</body>
</html>
