<div class="participants-container">
	<% users.forEach(function(user) { %>
	<div id="<%= user.uid %>" class="participant" title="<%= user.name %>"><%= user.name.charAt(0).toUpperCase() %></div>
	<% }) %>
</div>
